:root[data-theme='dark'] {
  // 基础色值
  --bg-color: #000000;
  --text-color: #cfcecc;
  --primary-color: #9f9d99;
  --accent-color: #01add2;
  --theme-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
