:root[data-theme='dark'] {
  // 暗黑主题
  --bg-color: #000000;
  --text-color: #cfcecc;
  --primary-color: #9f9d99;
  --accent-color: #ff3300;
  --brand-color: #bf6100;
  --success-color: #983dc5;
  --warning-color: #195dc3;
  --danger-color: #0a9393;
  --info-color: #6f6c66;
  --fill-color: #0a0b05;
  --border-color: #1b1812;
  --placeholder-color: #57544d;
  --page-color: #0d0c0a;
  --link-color: #af5900;
  --footer-color: #0a0805;
  --href-color: #cfcecc;
  --algolia-color: #ab9700;
  --codelet-bg-color: #e7e2d7;
  --codelet-banner-color: #afafa5;
  --codelet-comment-color: #9c9077;
  --codelet-property-color: #7e5ece;
  --codelet-class-color: #5c4173;
  --submit-color: #292117;
  --upload-color: #444444;
  --input-color: #3c2507;
  --active-color: #ac8e01;
  --deepseek-color: #b29401;
  --icon-color: #5c5c5c;
  --card-color: #241401;
  --man-color: #100900;
  --bilibili-color: #ff5113;
  --kimi-color: #ff8500;
  --vue-color: #c0487c;
  --vite-lighting-color: #0046ee;
  --vite-tine-color: #42cb01;
  --pinia-color: #001b95;
  --gitee-color: #38e2dc;
  --gitee-follow-color: #018cff;
  --gitee-number-color: #ffa67f;
  --gitee-accent-color: #ed7c45;
  --gitee-help-color: #dd4ecf;
  --gitee-commit-color: #2a1a7a;
  --gitee-idle-color: #111111;
  --gitee-nav-color: #bfb7a4;
  --gitee-border-color: #73746e;
  --javascript-color: #0512d4;
  --typescript-color: #b5491c;
  --css-color: #cc8611;
  --wa-color: #76930d;
  --react-color: #ff2700;
  --nuxt-color: #ff237d;
  --vitest1-color: #0338d4;
  --vitest2-color: #b3a1e5;
  --vitest3-color: #8d64e4;
  --qwik1-color: #e74909;
  --qwik2-color: #53810b;
  --hono1-color: #0068a7;
  --hono2-color: #02a5ee;
  --analogjs-color: #22fccf;
  --storybookjs-color: #00b87a;
  --markojs1-color: #bb4010;
  --markojs2-color: #fe7d73;
  --markojs3-color: #722f1f;
  --markojs4-color: #fe538f;
  --markojs5-color: #723edf;
  --markojs6-color: #0012fe;
  --markojs7-color: #0643ff;
  --markojs8-color: #16aafa;
  --markojs9-color: #20e4e3;
  --markojs10-color: #7fe1b1;
  --markojs11-color: #1fd577;
  --theme-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
