:root[data-theme='light'] {
  // 基础色值
  --bg-color: #ffffff;
  --text-color: #303133;
  --primary-color: #606266;
  --accent-color: ##fe522d;
  --theme-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
