@use './light';
@use './dark';

:root {
  font-size: 16px;
  transition: var(--theme-transition);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}
