:root[data-theme='light'] {
  // 亮白主题
  --bg-color: #ffffff;
  --text-color: #303133;
  --primary-color: #606266;
  --accent-color: #ff3300;
  --brand-color: #409eff;
  --success-color: #67c23a;
  --warning-color: #e6a23c;
  --danger-color: #f56c6c;
  --info-color: #909399;
  --fill-color: #f5f4fa;
  --border-color: #e4e7ed;
  --placeholder-color: #a8abb2;
  --page-color: #f2f3f5;
  --link-color: #50a6ff;
  --footer-color: #f5f7fa;
  --href-color: #303133;
  --algolia-color: #5468ff;
  --codelet-bg-color: #181d28;
  --codelet-banner-color: #50505a;
  --codelet-comment-color: #636f88;
  --codelet-property-color: #81a1c1;
  --codelet-class-color: #a3be8c;
  --submit-color: #d6dee8;
  --upload-color: #bbbbbb;
  --input-color: #c3daf8;
  --active-color: #5371fe;
  --deepseek-color: #4d6bfe;
  --icon-color: #a3a3a3;
  --card-color: #dbebfe;
  --man-color: #eff6ff;
  --bilibili-color: #00aeec;
  --kimi-color: #007aff;
  --vue-color: #3fb783;
  --vite-lighting-color: #ffb911;
  --vite-tine-color: #bd34fe;
  --pinia-color: #ffe46a;
  --gitee-color: #c71d23;
  --gitee-follow-color: #fe7300;
  --gitee-number-color: #005980;
  --gitee-accent-color: #1283ba;
  --gitee-help-color: #22b130;
  --gitee-commit-color: #d5e585;
  --gitee-idle-color: #eeeeee;
  --gitee-nav-color: #40485b;
  --gitee-border-color: #8c8b91;
  --javascript-color: #faed2b;
  --typescript-color: #4ab6e3;
  --css-color: #3379ee;
  --wa-color: #896cf2;
  --react-color: #00d8ff;
  --nuxt-color: #00dc82;
  --vitest1-color: #fcc72b;
  --vitest2-color: #4c5e1a;
  --vitest3-color: #729b1b;
  --qwik1-color: #18b6f6;
  --qwik2-color: #ac7ef4;
  --hono1-color: #ff9758;
  --hono2-color: #fd5a11;
  --analogjs-color: #dd0330;
  --storybookjs-color: #ff4785;
  --markojs1-color: #44bfef;
  --markojs2-color: #01828c;
  --markojs3-color: #8dd0e0;
  --markojs4-color: #01ac70;
  --markojs5-color: #8dc120;
  --markojs6-color: #ffed01;
  --markojs7-color: #f9bc00;
  --markojs8-color: #e95505;
  --markojs9-color: #df1b1c;
  --markojs10-color: #801e4e;
  --markojs11-color: #e02a88;
  --theme-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
